@model DRDevSampleAzureNetWebApp.Models.PlanetDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanetDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AstronomicalSymbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AstronomicalSymbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceToSun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceToSun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquatorialRadius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquatorialRadius)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquatorialGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquatorialGravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
